*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

.header {
    background-color: lightgray;
    display:flex;   
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
    font-size: 18px;
    color: #e5e7eb;
}

